<footer class="main-footer">
    <strong>
        ©2021 - INCLUSIVA
    </strong> 
</footer>

<div id="modalPassword" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="tituloModal1" class="modal-title"></h4>
            </div>
            <div id="modalContenidoBody1" class="modal-body">
            </div>
        </div>
    </div>
</div>

</div>