@font-face {
  font-family: "Bulletto-Killa";
  font-display: auto;
  src: url("../fonts/Bulletto-Killa.ttf");
}

body {
    font-family: Lato, sans-serif;
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
    color: #444;
    background: #000;
}
body,
html {
    width: 100%;
    height: 100%
}
.d-none         { display: none !important; }
.d-inline       { display: inline !important; }
.d-inline-block { display: inline-block !important; }
.d-block        { display: block !important; }
.d-table        { display: table !important; }
.d-table-row    { display: table-row !important; }
.d-table-cell   { display: table-cell !important; }
.d-flex         { display: flex !important; }
.d-inline-flex  { display: inline-flex !important; }
.navbar-brand {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
}
.navbar-brand {
    padding: 0px;
}
.img-full{
    width: 100%;
}
.navbar-default {
    background-color: transparent;
    padding: 50px 0;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out
}
.bars-menu{
    color: #fff;
    font-size: 35px;
    background: transparent;
    border: transparent;
}
.navbar-default {
    margin-bottom: 0;
    border-color: transparent;
}
.navbar-brand>img {
    padding: 7px 14px;
    width: 120px;
}
.owl-item.active .slider-title-animation {
    animation: slideInDown .5s
}
.owl-item.active .slider-animation-up {
    animation: slideInUp .5s
}
.owl-nav {
    display: none
}
.multicolor{
    display: inline-block;
    position: relative;
    color: #fff0 !important;
    padding-right: 0.5%;
}
.multicolor::after{
    content:attr(data-text);
    z-index: 1;
    display: inline-block;
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: #0013FF;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 122%;
}
.multicolor::before{
    content:attr(data-text);
    z-index: 2;
    background: -webkit-linear-gradient(#0013FF, #FF00FF, #F9FF00, #00FF06);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 122%;
    padding-right: 0.5%;
    display: inline-block;
}
#footer {
    background: #000000;
    padding: 20px 0;
}
#footer h4{
    text-align: right;
    text-transform: capitalize;
    margin-bottom: 40px;
    font-weight: bold;
    background: -webkit-linear-gradient(#0013FF, #FF00FF, #F9FF00, #00FF06);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    font-family: 'Bulletto-Killa';
}
.title-team{
    text-transform: capitalize;
    margin-bottom: 120px;
    font-weight: bold;
    background: -webkit-linear-gradient(#FF00FF, #FF00FF, #fff, #F9FF00, #F9FF00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    margin-top: 30px;
    font-family: 'Bulletto-Killa';
}

#footer h4 img{
    width: 18px;
}
#footer p,#footer span{
    color: #fff;
}
.p-social{
    line-height: 9px;
}
.section-internal {
    padding: 50px 0 50px 0;
}
.section-internal-2 {
    padding: 50px 0 110px 0;
}
.section-inclusiva{
    padding: 0 0 50px 0;   
}
.home-video{
    /* background-image: url(../images/extras/fondo-rosa-final.png); */
    /* background-size: 100% 100%; */
    /* background-repeat: no-repeat; */
    /*background-position: center;*/
    padding-top: 40px;
    padding-bottom: 60px;
}
.contenedor-youtube {
    display: block;
    width: 100%;
}
.reproductor-youtube {
    display: block;
    width: 100%;
    height: 100%;
    padding-bottom: 56.25%;
    overflow: hidden;
    position: relative;
    cursor: hand;
    cursor: pointer
}
img.imagen-previa {
    display: block;
    left: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    height: auto
}
div.youtube-play {
    height: 64px;
    width: 64px;
    left: 50%;
    top: 50%;
    margin-left: -36px;
    margin-top: -36px;
    opacity: .7;
    position: absolute;
    background: url(../images/youtube-2.png) no-repeat
}
div.youtube-play:hover {
    opacity: 1
}
#youtube-iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0
}
.div-footer{
    display: flex;
}
.flex-footer{
    flex: auto;
}
.pos-relative{
    position: relative;
}
.logo-footer{
    position: absolute;
    bottom: 0px;
    width: 90px;
}
.section-form-contact,.section-form-noticia,.section-form-portada {
    padding: 20px 0;
}
.body-noticia{
    padding-top: 50px;
}
.body-noticia h3{
    font-size: 48px;
    text-align: justify;
    margin-bottom: 45px;
    color: #fff;
}
.body-noticia h3.active {
    color: #00FF00;
    text-decoration: underline;
}
.body-noticia p{
    margin-top: 20px;
    color: #fff;
    font-size: 26px;
    margin-bottom: 45px;
}
.body-noticia a{
    color: #F76300;
    font-size: 26px;
}
.mt-10{
    margin-top: 10px;
}
.mt-18{
    margin-top: 18px;   
}
.mt-20{
    margin-top: 20px;
}
.mt-30{
    margin-top: 30px;
}
.mt-60{
    margin-top: 60px;
}
.mt-80{
    margin-top: 80px;
}
.mb-10{
    margin-bottom: 10px;
}
.mb-15{
    margin-bottom: 15px;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-30{
    margin-bottom: 30px;
}
.mb-40{
    margin-bottom: 40px;
}
.mb-50{
    margin-bottom: 50px;
}
.mb-80{
    margin-bottom: 80px;
}
.section-form-portada h2{
    background: -webkit-linear-gradient(#FF00FF, #F9FF00, #00FF06);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
    margin-bottom: 10px;
    font-family: 'Bulletto-Killa';
}
.section-form-portada h2 img{
    margin-top: 0px;
}
.mt-40{
    margin-top: 40px;
}
.color-white{
    color: #fff;
}
.section-form-portada .img-port{
    /*margin-top: 90px;*/
    display: initial;
    /*width: 75%;*/
}
.section-form-contact h2{
    font-size: 70px;
    margin-bottom: 40px;
    font-family: 'Bulletto-Killa';
    min-height: 85px;
}
.section-form-contact h2 img{
    width: 35px;
}
.section-form-contact label{
    color: #fff;
    text-align: right;
}
.section-form-contact textarea{
    resize: none;
}
.section-form-noticia .img-noticia{
    background-image: url('../images/fondo_noticia.png');
    padding: 0px 3% 3% 0px;
    background-size: cover;
}
.section-form-noticia img{
    border: 10px solid #000;
    border-top: 0;
    border-left: 0;
}
@media screen and (max-width: 670px){
    .section-form-noticia img{
        border-width: 8px;
    }
}
@media screen and (max-width: 540px){
    .section-form-noticia img{
        border-width: 6px;
    }
}
@media screen and (max-width: 380px){
    .section-form-noticia img{
        border-width: 4px;
    }
}


@media screen and (min-width: 769px){
    #myCarouselVideo .carousel-indicators {
        bottom: -55px;
        left: 2%;
    }
}
#myCarouselVideo .carousel-indicators li{
    background: #330066;
    border: 1px solid #330066;
}
#myCarouselVideo .carousel-indicators .active{
    background: #fff;
    border: 1px solid #fff !important;   
}
.home-cliente{
    background-image: url(../images/extras/fondo-amarillo-final.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 160px;
    padding-bottom: 160px;
}
.quote-up{
    width: 100%;
    background: url(../images/extras/quote_up.png) no-repeat;
    background-position: top left;
    background-size: 7%;
}

.quote-body p{
    padding-right: 40px;
    padding-left: 30px;
    width: 100%;
    background: url(../images/extras/quote_down.png) no-repeat;
    background-position: bottom right;
    background-size: 7%;
    font-size: 21px;
}
.quote-classic .quote-body {
    padding: 100px 10px 30px 30px;
    text-align: right;
    font-weight: bold;
}
blockquote {
    border-left: 0!important;
}
.top-client-1{
    width: 100%;
    background: url(../images/extras/extra-1.png) no-repeat;
    background-position: top;
    background-size: 35%;
}
.bottom-client-1{
    width: 100%;
    background: url(../images/extras/extra-2.png) no-repeat;
    background-position: bottom;
    background-size: 45%;
}

.top-client-2{
    width: 100%;
    background: url(../images/extras/extra-3.png) no-repeat;
    background-position: top;
    background-size: 95%;
}
.bottom-client-2{
    width: 100%;
    background: url(../images/extras/extra-4.png) no-repeat;
    background-position: bottom;
    background-size: 95%;
}
.img-client{
    padding: 50px 5px 50px 5px;
}
.carousel-control.left, .carousel-control.right {
    background: transparent !important;
}
.carousel-control.left, .carousel-control.right {
    color: #000;
    font-size: 40px;
}
.carousel-control .fa-angle-left, .carousel-control .fa-angle-right {
    position: absolute;
    top: 45%;
    z-index: 5;
    display: inline-block;
}
.carousel-control.left{
    left: -121px !important;
}
.carousel-control.right{
    right: -121px !important;
}
#myCarouselPortada .carousel-indicators{
    bottom: 0px;
    top: 5px;
}

#myCarouselCliente .carousel-control.left{
    left: 0px !important;
}
#myCarouselCliente .carousel-control.right{
    right: 0px !important;
}

#myCarouselFrase1 .carousel-indicators, #myCarouselFrase2 .carousel-indicators{
    bottom: 220px;
}

#myCarouselPortada .carousel-indicators li, #myCarouselFrase1 .carousel-indicators li, #myCarouselFrase2 .carousel-indicators li{
    background: transparent;
    border: 1px solid #FF20F5;
}
#myCarouselPortada .carousel-indicators .active, #myCarouselFrase1 .carousel-indicators .active, #myCarouselFrase2 .carousel-indicators .active{
    background: #FF20F5;
    border: 1px solid #FF20F5 !important;   
}


.modal.left .modal-dialog{
    position: fixed;
    margin: auto;
    width: 320px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
        -ms-transform: translate3d(0%, 0, 0);
         -o-transform: translate3d(0%, 0, 0);
            transform: translate3d(0%, 0, 0);
}
.modal.left .modal-content{
    height: 100%;
    overflow-y: auto;
    background: #000;
    border-right: 1px solid #2f2f2f;
}
.modal.left .modal-body{
    padding: 15px 15px 80px;
}
.modal.left .modal-header{
    border-bottom: 0px;
}
.modal.left .modal-title{
    background: -webkit-linear-gradient(#111efa, #111efa, #fcff00, #ff00fe, #ff00fe);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    text-align: center;
    font-family: 'Bulletto-Killa';
}
.modal.left button.close{
    color: #fff;
    text-shadow: none;
    opacity: 1;
    font-size: 35px;
}

/*Left*/
.modal.left.fade .modal-dialog{
    left: -320px;
    -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
       -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
         -o-transition: opacity 0.3s linear, left 0.3s ease-out;
            transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.in .modal-dialog{
    left: 0;
}

.modal-content {
    border-radius: 0;
    border: none;
}

.navbar-inclusiva{
    list-style: none;
    padding-left: 0;
    text-align: center;
}
.navbar-inclusiva>li{
    padding-bottom: 5px;
    border-top: 1px solid #ff00fe;
    padding-top: 10px;
    position: relative;
}
.navbar-inclusiva>li>a{
    font-size: 24px;
    color: #fff;
    font-family: 'Bulletto-Killa';
}
.navbar-inclusiva>li>a:hover{
    text-decoration: none;
    color: #FF0048;    
}
.navbar-inclusiva>li>a:hover .img-menu-1, .navbar-inclusiva>li>a:hover .img-menu-2{
    display: block;
}

.icon-red{
    color: #000;
    background: #fff;
    border-radius: 50%;
}
.navbar-social>li>a{
    padding-top: 0px;
    padding-bottom: 0px;
    padding: 5px 5px;
    font-size: 20px;
}
.logo-certific{
    width: 40px;
    margin-top: 25px;
    display: initial;
}
.btn-contact{
    background-color: #ff31ff;
    border-color: #ff31ff;
    color: #fff;
    border-radius: 25px;
    font-size: 17px;
    padding: 10px 35px 10px 35px;
}
.img-portada-home{
    width: 100%;
    background: url(../images/extras/fondo-portada.png) no-repeat;
    background-position: top;
    /*min-height: 660px;*/
    text-align: center;
    background-size: 100%;
    padding: 100px;
}
.banner-video{
    background-image: url(../images/extras/bannervideo-3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 230px;
    padding-bottom: 160px;
    min-height: 780px;
}
.banner-video-2{
    background-image: url(../images/extras/bannervideo-2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 230px;
    padding-bottom: 160px;
    min-height: 780px;
}
.banner-quienes-somos{    
    background: url(../images/extras/fondo-blanco-final.png);
    margin-top: -143px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-top: 150px;
    padding-bottom: 100px;
}
.banner-quienes-somos h2{
    font-size: 25px;
}
.img-quienes{
    width: 70%;
    display: initial;
}

.section-nuestra-chamba{
    background-image: url(../images/extras/fondo-azul-final.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /*background-position: center;*/
    padding-top: 160px;
    padding-bottom: 160px;
    margin-top: 200px;
}

.section-la-base{
    background-image: url(../images/extras/ilustracióncerrolineas-2.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 31%;
    margin-top: 9%;
    padding-bottom: 7%;
}

.section-nuestros-clientes{
    /*background-image: url(../images/extras/fondo-caseritos.png);*/
    background-image: url(../images/extras/fondo-blanco-final.png);
    
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /*background-position: center;*/
    padding-top: 160px;
    padding-bottom: 160px;
    margin-top: 100px;
}

.section-nuestros-socios{
    background-image: url(../images/extras/fondo-socios.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /*background-position: center;*/
    padding-top: 100px;
    padding-bottom: 100px;
}

.team-name{
    font-weight: bold;
    color: #fff;
}
.team-description{
    color: #fff;
}
.img-team{
    display: initial;
    filter: grayscale(1);
}
.no-padding{
    padding: 0px;
}

#portfoliolist .portfolio{
    display:none;
}
#filters {
    margin:1%;
    padding:0;
    list-style:none;
    display: flex;
    justify-content: center;
}
#filters li {
    float:left;
}

#filters li {
    padding:5px 51px;
}

#filters li span {
    display: block;          
    text-decoration:none;
    color:black;
    cursor: pointer;
    font-size: 17.8px;
}

/*#filters li span.active {
    color:black;
    border-bottom: 3px solid #1cf5e0;
    font-size: 17.8px;
}*/


.title-insght{
    font-family: 'Bulletto-Killa';
    font-weight: bold;
    color: #fff;
    font-size: 70px;
    height: 89px;
}
.subtitle-insght{
    font-size: 30px;
    color: #FE00FE;
    font-family: 'Bulletto-Killa';
}

.texto-socios{
    color:#fff;
    padding: 0 63px
}

#insght p, #innovacion p, #impacto p, #training p{
    color: #fff;
    font-size: 20px;
    padding: 0px 25px 0px 25px;
}
#innovacion p, #impacto p, #training p{
    text-align: center;
}

.title-innovacion{
    font-family: 'Bulletto-Killa';
    font-weight: bold;
    color: #fff;
    font-size: 55px;
    height: 65px;
}
.subtitle-innovacion{
    font-size: 30px;
    color: #FFFF00;
    font-family: 'Bulletto-Killa';
    text-align: center;
}

.title-impacto{
    font-family: 'Bulletto-Killa';
    font-weight: bold;
    color: #fff;
    font-size: 55px;
    height: 65px;
}
.subtitle-impacto{
    font-size: 30px;
    color: #00FF00;
    font-family: 'Bulletto-Killa';
    text-align: center;
}

.title-training{
    font-family: 'Bulletto-Killa';
    font-weight: bold;
    /*background: -webkit-linear-gradient(#0000FF, #0000FF, #0000FF, #FFF, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
    font-size: 55px;
    color: #fff;
}
.subtitle-training{
    font-size: 30px;
    color: #0000FF;
    font-family: 'Bulletto-Killa';
    text-align: center;
}
.ul-la-base{
    list-style: none;
}
.ul-la-base>li{
    color: #004FFF;
    font-size: 23px;
    font-weight: 800;
    padding-left: 10px;
    position: relative;
    margin-bottom: 40px;
}
.ul-la-base>li>img{
    width: 30px;
    margin-right: 5px;
    position: absolute;
    left: -35px;
    top: 25%;
}

#scrollup {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    color: #FF31FF;
    cursor: pointer;
    border: 1px solid #FF31FF;
    text-align: center;
    font-size: 24px;
    line-height: 36px;
    z-index: 9999;
    display: none;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    border-radius: 50%;
}
.mb-60{
    margin-bottom: 60px;
}


#scrollup:hover{
    background: #FF31FF;
    color: #FFF;
}
.ul-menu-mobile{
    list-style: none;
}
.ul-menu-mobile li{
    float: left;
}
.bars-menu-mobile{
    position: absolute;
    left: 25px;
    top: 25px;
}
.video-inclusive{
    width: 86%;
    margin-left: 9.9%;
}
.img-nuestra-chamba{
    margin-top: -460px;
    width: 45%;
    display: initial;
}
.img-labase{
    margin-top: -460px;
    margin-bottom: 37%;
    width: 65%;
    display: initial;
}
.font-labase{
    color: #FF00A7;
}
.img-teinvitamos{
    margin-top: -17%;
}
.img-caserito{
    margin-top: -280px;
    width: 100%;
    display: initial;
}
.carousel-base{
    margin-top: -8%;
}
.section-foto-caserita{
    margin-top: -8%;
}
.carrusel-client-caserito{
    margin-top: -10%;
}
.text-socio{
    padding: 0 63px;
    color: #fff;
}
.title-inscribete{
    text-transform: capitalize;
    margin-bottom: 40px;
    font-weight: bold;
    background: -webkit-linear-gradient(#FF00FF, #FF00FF, #fff, #F9FF00, #F9FF00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 45px;
    font-family: 'Bulletto-Killa';
}
.bottom-salecaliente{
    margin-bottom: -110px;
}
.card-noticia{
    border-radius: 25px;
    background: #6700FF;
}
.card-not-body{
    padding: 15px;
}
.card-not-body h3{
    color: #FBFB00;
    font-size: 20px;
}
.card-not-body p{
    color: #fff;
    line-height: 18px;
}
.card-not-img img{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.card-not-body a{
    color: #F76300;
    font-size: 18px;
}
.h4-diferencia{
    color: #00FF06;
    font-size: 28px;
}
.h4-unica{
    color: #CC00FF;
    font-size: 40px;
    font-weight: 600;
}
.h4-compromiso{
    color: #F9FF00;
    font-size: 32px;
    font-weight: 600;
}
.h4-empresa{
    color: #fff;
    font-size: 28px;
}
.h4-certificada{
    color: #F9FF00;
    font-size: 25px;
}
.title-noticia{
    text-align: right;
}
.img-menu-1{
    position: absolute;
    left: 10px;
    width: 22px;
    top: 30%;
    display: none;
}
.img-menu-2{
    position: absolute;
    right: 10px;
    width: 22px;
    top: 30%;
    display: none;
}

.navbar-social-mobile{
    list-style: none;
    padding-left: 0px;
}
.navbar-social-mobile li{
    float: right;
    margin-left: 4px;
}
.navbar-social-mobile li a img{
    width: 21px;
}
.logo-certific-mobile{
    width: 40px;
    margin-top: 15px;
    display: initial;
}
.img-chamba-3{
    height: 330px;
}

.flex-center {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.flex-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.img-boletin {
    background-image: url(../images/fondo_boletin.png);
    padding: 0px 3% 3% 0px;
    background-size: cover;
}
.section-boletin {
    background-image: url(../images/extras/fondo-blanco-final.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-top: 160px;
    padding-bottom: 160px;
}
.correo-footer{
    font-size: 25px;
}
.logo-footer-2{
    width: 100px;
}
.logoempresa-footer-2{
    width: 80px;   
}
.img-aqui{
    width: 55%;
    display: initial;
}
.red-header{
    width: 35px;
}
.red-footer{
    width: 45px;
    margin-left: 10px;
}
.content-img-incl{
    background-image: url(../images/extras/cubo.png);
    padding: 0px 3% 3% 0px;
    background-size: cover;
}
.img-nuestro-equipo{
    display: initial;
    width: 40%;
}
.img-carbono-1{
    display: initial;
}

@media(max-width: 767px) {
    .text-center-mob{
        text-align: center !important;
    }
    .img-chamba-3{
        max-height: 130px;
    }
    .logoempresa-footer-2{
        width: 60px;
    }
    .img-carbono-1 {
        min-height: 346px;
    }
    .img-aqui,.img-nuestro-equipo{
        width: 90%;
    }
    .section-form-portada h2{
        font-size: 17px;
    }
    .red-footer{
        width: 35px;
    }
    .section-form-portada .img-port {
        /* margin-top: 40px; */
    }
    .img-portada-home {
        /* min-height: 250px; */
        /* padding: 0px 45px 0px 45px; */
        padding: 12% 12% 12% 12%;
    }
    .texto-socios{
        color:#fff;
        padding: 0 63px;
        font-size:14px
    }
    .home-video {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .body-noticia h3 {
        font-size: 20px;
        margin-bottom: 20px;
    }
    .body-noticia p {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .body-noticia a {
        font-size: 20px;
    }
    .img-client {
        margin-top: 60px;
    }
    .carousel-control.left {
        left: -35px !important;
    }
    .carousel-control.right {
        right: -25px !important;
    }
    .quote-classic .quote-body {
        padding: 45px 0px 0px 0px;
    }
    .quote-body p {
        padding-right: 0px;
        padding-left: 0px;
        padding-bottom: 10px;
    }
    .home-cliente {
        padding-top: 110px;
        padding-bottom: 70px;
    }
    .section-form-contact h2 {
        font-size: 37px;
        min-height: auto;
    }
    .section-form-contact h2 img {
        width: 25px;
    }
    #footer p {
        font-size: 12px;
    }
    .title-team {
        margin-bottom: 30px;
        font-size: 25px;
    }
    .banner-video, .banner-video-2 {
        background: #000;
        min-height: 0px;
        margin-top: 10px;
        padding-top: 20%;
        background-image: url(../images/extras/bannervideo-4-mob.png);
        background-size: 100%;
        padding-top: 25%;
        padding-bottom: 25%;
    }
    .video-inclusive {
        width: auto;
        margin-left: 0px;
    }
    .img-quienes {
        width: 100%;
    }
    .banner-quienes-somos h2 {
        font-size: 17px;
    }
    .team-name {
        font-size: 18px;
        margin-bottom: 2px;
    }
    .team-description{
        line-height: 19px;
        font-size: 14px;
    }
    #footer h4 {
        font-size: 20px;
        text-align: center;
        margin-bottom: 25px;
    }
    .section-nuestra-chamba {
        padding-top: 90px;
        padding-bottom: 90px;
        margin-top: 100px;
    }
    .img-nuestra-chamba {
        margin-top: -150px;
        width: 65%;
    }
    .title-insght {
        font-size: 19px;
        height: 22px;
    }
    .title-innovacion, .title-impacto {
        font-size: 19px;
        height: 22px;
    }
    .title-training {
        font-size: 19px;
    }
    /*#filters {
        display: block;
    }*/
    #filters img{
        width: 100%;
        height: 100%;
    }
    #filters li {
        padding: 5px 1px;
    }
    .subtitle-insght, .subtitle-innovacion, .subtitle-impacto, .subtitle-training {
        font-size: 25px;
    }
    .section-la-base {
        padding-top: 70px;
        margin-top: 90px;
    }
    .img-labase {
        margin-top: -110px;
        margin-bottom: 30px;
    }
    .font-labase{
        font-size: 9px;
    }
    .ul-la-base>li {
        font-size: 16px;
    }
    .img-teinvitamos{
        /* margin-top: -65px; */
    }
    #myCarouselFrase1 .carousel-indicators, #myCarouselFrase2 .carousel-indicators {
        bottom: 15px;
    }
    .carousel-base {
        /* margin-top: -65px; */
    }
    .carrusel-client-caserito {
        margin-top: -45px;
    }
    .card-not-body h3{
        font-size: 16px;
    }
    .card-not-body p{
        font-size: 13px;
    }

    .banner-quienes-somos{
        /*background-size: cover;*/
        margin-top: -14%;
        padding-top: 100px;
        padding-bottom: 75px;
    }
    .h4-diferencia{
        font-size: 22px;
    }
    .h4-unica{
        font-size: 35px;
    }
    .h4-compromiso{
        font-size: 22px;
    }
    .h4-empresa{
        font-size: 22px;
    }
    .h4-certificada{
        font-size: 23px;
    }
    .img-certifica{
        width: 70%;
        display: initial;
    }
    .no-padding-xs{
        padding: 0px;
    }
    .section-nuestros-clientes{
        background-size: cover;
        margin-top: 20px;
    }
    .img-caserito {
        margin-top: -140px;
    }
    .section-nuestros-socios{
        background-size: cover;
        padding-bottom: 50px;
    }
    .mt-50-xs{
        margin-top: -50px;
    }
    .logo-footer-2{
        display: initial;
        width: 80px;
        margin-bottom: 40px;
    }
    .input-icl{
        width: 70%;
    }
    .title-noticia{
        text-align: center;
    }
    .section-internal {
        padding: 50px 0 30px 0;
    }
    .section-internal-2{
        padding: 10px 0 10px 0;
    }
    .section-inclusiva {
        padding: 0 0 30px 0;
    }
    #footer p, #footer span {
        text-align: center;
    }
    .img-cambiobase{
        height: 78px;
        display: initial;
    }
    .img-lima{
        width: 137px;
        display: initial;   
    }

    .section-boletin {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .title-inscribete {
        font-size: 40px;
    }
    .bottom-salecaliente {
        margin-bottom: -50px;
    }

}