<script src="{$base_url}public/plugins/ckeditor/ckeditor.js"></script>
<div class="content-wrapper">
    <section class="content-header">
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-success box-solid">
                    <div class="box-header with-border">
                            <h3 class="box-title">Bienvenido</h3>
                    </div>
                    <div class="box-body">
                    	Bienvenido a su panel de administración
                    </div>
                </div>    
            </div>
        </div>
    </section>

</div>

