	<script src="{$baseUrl}assets/plugins/jquery/3.4.1/jquery.min.js"></script>
	<script src="{$baseUrl}assets/plugins/sweetalert-master/dist/sweetalert-dev.js" async></script>
	<link rel="stylesheet" href="{$baseUrl}assets/plugins/sweetalert-master/sweetalert.css" type="text/css" async>
	<script src="{$baseUrl}assets/js/bootstrap.min.js"></script>
	<script src="{$baseUrl}assets/js/jquery.mixitup.js"></script>
	<script src="{$baseUrl}assets/js/custom.js?v={$time}"></script>
	<script src="{$baseUrl}assets/js/process.js?v={$time}"></script>
</body>
</html> 